
# Rust build output
/target/

# Cargo lock (ignore ONLY for libraries)
# Keep Cargo.lock for binaries
# Cargo.lock

# OS / editor files
.DS_Store
*.swp
.vscode/
.idea/
test.txt
1.txt/
TestingFolder/
test1.txt
test2.txt.lkr